// compiled bootstrap
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('http://fonts.cdnfonts.com/css/din-alternate');
@import url('http://fonts.cdnfonts.com/css/playfair-display-sc');

// Common color
$color-blue: #031f5b;
$color-gray: #272727;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
