@import '@/assets/scss/common.scss';

#footer-wrapper {
    // margin-top: 100px;
    #footer-media {
        column-count: 4;
        column-gap: 0;
        padding: 50px;
        background-color: $color-blue;
        -webkit-column-break-inside: avoid;
        .post{
            margin: 30px;
            margin-top: 0;
            -webkit-column-break-inside: avoid;
        }
    }
    #footer-links {
        background-color: #ffffff;
        margin: 0;
        #links-words {
            margin-top: 50px;
            .links-wrapper {
                text-align: center;
                h3 {
                    color: $color-blue;
                }
                .links {
                    font-size: 20px;
                    color: rgba(153, 153, 153, 1);
                    text-decoration: none;
                    text-align: left;
                    transition: 0.3s;
                    &:hover {
                        color: $color-blue;
                    }
                }
            }
        }
        #links-icon {
            place-items: center;
            place-content: center;
            .icons {
                padding: 25px;
            }
        }
    }
    #footer-copyright {
        color: #7a7a7a;
        text-align: center;
        margin-top: 40px;
    }
}

