#header-banner {
    width: 100%;
    height: 100px;
    place-content: center;
    place-items: center;
    display: flex;
    position: fixed;
    z-index: 99;

    #header-logo {
        height: 110px;
        transition: 0.5s;
        &:hover {
            height: 120px;
            filter: drop-shadow(0 0 0.2em white);
        }
    }

    #header-toolbar {
        .menu-item {
            padding: 10px 20px 10px 20px;
            font-family: 'DIN Alternate', sans-serif;
            font-size: 20px;
            color: white;
            text-decoration: none;
            letter-spacing: 0.08em;
            transition: 0.3s;
            &:hover {
                color: rgba($color: #ffffff, $alpha: 0.5);
            }
            &.router-link-active {
                color: rgba(223, 154, 152, 1);
            }
        }
    }

    #searchBar {
        width: 250px;
        border-radius: 30px;
        background-color: white;
        padding: 0 10px 0 10px;
        #keyIn {
            width: 200px;
            padding-left: 10px;
            border: none;
            outline: none;
        }
        #searchBtn {
            padding-left: 10px;
        }
    }
}

.gradient-mask {
    height: 620px;
    display: grid;
    place-items: center;
    place-content: center;
    color: white;
    user-select: none;
    font-style: normal;
    font-weight: 700;
    #homeTitle{
        font-family: 'Times New Roman', sans-serif;
        font-size: 40px;
        line-height: 85px;
        user-select: none;
        transform: translateY(40px);
        animation-duration: 2s;
        animation-name: brightup;
        @keyframes brightup {
            from {
                opacity: 0;
            }
            
            to {
                opacity: 1;
            }
        }
    }
    #menuSelected{
        font-family: 'Playfair Display SC', sans-serif;
        font-size: 65px;
        line-height: 85px;
        letter-spacing: 0.5em;
        transform: translateY(40px);
        transition: 2s;
    }
}

#color-lump {
    height: 100px;
    background-color: $color-blue;
    position: sticky;
    top: 0;
}


