@import '@/assets/scss/common.scss';

#slideNav{
    position: absolute;
    width: 20%;
    min-height: 100vh;
    height: auto;
    transform: translateY(20%);
    margin-left: 20px;
    text-transform: uppercase;
    .menu{
        .menuItem{ 
            list-style: none;
            font-weight: bold;
            background: none;
            margin-left: 20px;
            a{
                text-decoration: none;
                color: #732C2C;
            }
            a.router-link-exact-active {
                color: #031F5B;
            }
            .title{
                font-size: 20px;
            }
            .subTitle{
                font-size: 15px;
            }
        }
    }
}