@import "@/assets/scss/common.scss";

.contentSize {
    color: black;
    font-size: 3vmin;
}
.titleSize {
    color: black;
    font-size: 7vmin;
    font-weight: bold;
}

.blockColor1{
    background-color: #1179d9
}

.blockColor2{
    background-color: #132473
}

.CTSPItem, .cardItem, .bottomItem{
    box-shadow: none;
    &:hover{
        box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.08), 0px 22px 30px 2px rgba(0, 0, 0, 0.15), 0px 8px 10px rgba(0, 0, 0, 0.15);
    }
}

hr{
    color:#8f8f8f;
    max-width: 90%;
}
