@import "@/assets/scss/common.scss";

.contentSize {
    color: black;
    font-size: 3vmin;
}
.titleSize {
    color: black;
    font-size: 7vmin;
    font-weight: bold;
}

.blockColor1{
    background-color: #1179d9
}

.blockColor2{
    background-color: #132473
}
