@import "@/assets/scss/common.scss";

.members{
    @include viewSettings;
    .yearBlock{
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .year{
            align-self: flex-start;
            font-size: 40px;
            font-weight: 500;
            letter-spacing: 20px;
            padding-bottom: 50px;
            &::first-letter{
                font-size: 70px;
            }
        }
        h1{
            text-align: center;
            text-transform: uppercase;
            font-size: 70px;
            letter-spacing: 15px;
            padding: 50px 0;
        }
        .group{
            width: 100%;
            height: auto;
            .personBlock{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .image{
                    width: 15vw;
                    height: auto;
                    border-radius: 20px;
                    margin-bottom: 20px;
                }
                .name{
                    font-size: 30px;
                    letter-spacing: 3px;
                }
                ul li{
                    font-size: 25px;
                    transform: translateX(-20%);
                }
            }
        }
    }
}