@import "@/assets/scss/common.scss";

.members{
    @include viewSettings;
    .yearBlock{
        max-width: 100%;
        .year{
            font-size: 40px;
            font-weight: 500;
            letter-spacing: 20px;
            padding-bottom: 50px;
            &::first-letter{
                font-size: 15vmin;
            }
            @media screen and (max-width: $screen-xs) {
                font-size: 8vmin;
                letter-spacing: 10px;
            }
        }
        h1{
            font-size: 10vmin;
            letter-spacing: 15px;
            padding: 50px 0;
            @media screen and (max-width: $screen-xs) {
                font-size: 8vmin;
            }
        }
        .group{
            .personBlock{
                min-width: 190px;
                min-height: 200px;
                @media screen and (max-width: $screen-sm) {
                    margin: 30px;
                }
                .image{
                    max-width: 180px;
                    margin-bottom: 20px;
                }
                .name{
                    font-size: 1.8rem;
                    letter-spacing: 3px;
                    @media screen and (max-width: $screen-sm) {
                        font-size: 2.5rem;
                    }
                }
                ul li{
                    font-size: 1.5rem;
                    transform: translateX(-20%);
                    @media screen and (max-width: $screen-sm) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}