@import "@/assets/scss/common.scss";

.outreach{
    @include viewSettings;
    .time{
        font-weight: bold;
        color: $color-blue;
    }
    .title{
        font-weight: bold;
        margin-bottom: 10px;
    }
    p{
        word-wrap: break-word;
        white-space: pre-wrap;
    }
}