@import "@/assets/scss/common.scss";

.resource{
    @include viewSettings;
    .container{
        max-width: 100%;
        height: auto;
        .resourceBlock{
            padding: 10px;
            font-family: 'Times New Roman', sans-serif;
            .imageBlock{
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 30px;
                overflow: hidden;
                img{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    border-radius: 30px;
                    transition: 2s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    background: linear-gradient(rgba(50, 50, 50, 0.3),rgba(0, 0, 1, 0.52));
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    z-index: 10;
                    border-radius: 30px;
                    pointer-events: none;
                }
            }
            .text, .recapText{
                position: absolute;
                font-size: 2.5rem;
                max-width: 100%;
                height: auto;
                color: $color-white;
                line-height: 60px;
                margin-bottom: 10px;
                z-index: 20;
                @media screen and (max-width: $screen-sm) {
                    font-size: 3rem;
                }
            }
            .recapText{
                font-size: 4rem;
                @media screen and (max-width: $screen-xs) {
                    font-size: 3rem;
                }
            }
        }
    }
}

.seasonIntro{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    .imageBlock{
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 30px;
        overflow: hidden;
        img{
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            border-radius: 30px;
            transition: 2s;
            &:hover{
                transform: scale(1.2);
            }
        }
        &::before{
            content:"";
            position: absolute;
            background: linear-gradient(rgba(50, 50, 50, 0.3),rgba(0, 0, 1, 0.52));
            width: 100%;
            height: 100%;
            bottom: 0;
            z-index: 10;
            border-radius: 30px;
            pointer-events: none;
        }
    }
    h1{
        position: absolute;
        color: $color-white;
        font-size: 2.5rem;
        width: 100%;
        height: auto;
        line-height: 60px;
        margin-bottom: 10px;
        z-index: 20;
        @media screen and (max-width: $screen-sm) {
            font-size: 3rem;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

:deep(.swiper-pagination){
    transform: translate(5vmin, -5vmin);
    display: flex;
    justify-content: center;
    align-items: center;
    .swiper-pagination-bullet {
      width: 5vmin;
      height: 5vmin;
      display: inline-block;
      border-radius: 50%;
      border: 5px $color-white solid;
      margin-right: 10%;
      background: transparent;
      opacity: 1;
      @media screen and (max-width: $screen-xs) {
        width: 3vmin;
        height: 3vmin;
        border: 2px $color-white solid;
      }
    }
    .swiper-pagination-bullet-active{
      transition: .5s;
      background: $color-white;
    }
}