@import "@/assets/scss/common.scss";

.sponsors{
    @include viewSettings;
    padding: 100px;
    .sponsorsLogo {
        width: 20%;
        padding: 30px;
    }
}

.textInImg {
    text-align: center;
    color: white;
    font-size: 6vmin;
    font-weight: bold;
}