@import "@/assets/scss/common.scss";

$color-platinum: #67c973 ;
$color-gold:#ffd600;
$color-silver:#d3d3d3;
$color-bronze:#f27400;

.sponsors{
    @include viewSettings;
    padding: 100px;
    .levelBlock{
        min-height: 300px;
        border-radius: 30px;
        margin: 50px 0;
        a{
            width: 100%;
            height: auto;
            text-align: center;
            .sponsorsLogo {
                min-width: 100px;
            }
        }
    }
}

.platinum{
    .sponsorsLogo{
        width: 35%;
    }
    background-color: $color-platinum;
}
.gold{
    .sponsorsLogo{
        width: 30%;
    }
    background-color: $color-gold;
}
.silver{
    .sponsorsLogo{
        width: 30%;
    }
    background-color: $color-silver;
}
.bronze{
    .sponsorsLogo{
        width: 20%;
    }
    background-color: $color-bronze;
}