@import "@/assets/scss/common.scss";

.sponsors{
    @include viewSettings;
}

.textInImg {
    text-align: center;
    color: white;
    font-size: 6vmin;
    font-weight: bold;
}

.sponsorsLogo {
    width: 40%;
}