@import '@/assets/scss/common.scss';

#welcomeImg {
    @include backgroundStyle((linear-gradient(rgba(3, 31, 91, 0.32),rgba(3, 31, 91, 1.0)), url(../assets/Elements/default.png)));
    position: relative;
    padding: 10% 10%;
    @media screen and (max-width: $screen-xs) {
        padding: 0;
    }

    .row{
        @media screen and (max-width: $screen-xs) {
            flex-direction: column;
        }
        #welcomeLogo, #welcomeText {
            animation-duration: 4s;
            animation-name: slidein;
            transition: 0.8s;
        }
        #welcomeText {
            color: $color-white;
            font-size: 4rem;
            font-weight: 700;
            letter-spacing: 0.1rem;
            white-space: pre-wrap;
        }
    }
    &:hover{
        #welcomeText {
            text-shadow: 0 0 0.2em white;
        }
        #welcomeLogo {
            filter: drop-shadow(0 0 0.2em white);
        }
    }
}

@keyframes slidein {
    from {
        transform: translateY(150px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}